<div class="center">
    <h1>NOTE TAKER</h1>

    <h2>
      There will be no more forgetting.
    </h2>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        <p>Loggin In? <%= link_to "login!", login_path %></p>
  </div>